@import "tailwindcss";
@config "../../tailwind.config.js";
@plugin "daisyui";



@layer base {
    * {
        font-family: 'Netflix Sans', sans-serif;
    }

}

@font-face {
    font-family: 'Netflix Sans';
    src: url('../assets/font/NetflixSans-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('../assets/font/NetflixSans-Rg.ttf') format('truetype');
    font-weight: 400;
    font-style: regular;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('../assets/font/NetflixSans-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('../assets/font/NetflixSans-Bd.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('../assets/font/NetflixSans-Blk.ttf') format('truetype');
    font-weight: 900;
    font-style: black;
    font-display: swap;
}